In [112]:
import pandas as pd
import altair as alt
import os
from sklearn.metrics import r2_score

In [113]:
cd Daiwei\ 2

[Errno 2] No such file or directory: 'Daiwei 2'
/Users/katiechenning/Documents/umich/courses/si699/Daiwei 2

# Dry data

In [114]:
df = pd.read_csv('USDM.csv')

In [115]:
df

,MapDate,AreaOfInterest,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20220118,Total,40.65,59.35,45.99,30.08,9.43,1.00,2022-01-18,2022-01-24,1
1,20220111,Total,39.92,60.08,45.96,29.53,9.60,1.03,2022-01-11,2022-01-17,1
2,20220104,Total,39.91,60.09,45.82,29.35,10.33,1.30,2022-01-04,2022-01-10,1
3,20211228,Total,38.50,61.50,46.23,30.30,11.70,1.59,2021-12-28,2022-01-03,1
4,20211221,Total,39.37,60.63,46.17,30.67,14.68,3.07,2021-12-21,2021-12-27,1
...,...,...,...,...,...,...,...,...,...,...,...
1146,20000201,Total,45.60,54.40,24.29,8.53,0.00,0.00,2000-02-01,2000-02-07,1
1147,20000125,Total,42.03,57.97,21.39,8.45,0.00,0.00,2000-01-25,2000-01-31,1
1148,20000118,Total,43.26,56.74,21.75,8.67,0.00,0.00,2000-01-18,2000-01-24,1
1149,20000111,Total,48.27,51.73,20.93,8.27,0.00,0.00,2000-01-11,2000-01-17,1
1150,20000104,Total,57.29,42.71,19.61,7.90,0.00,0.00,2000-01-04,2000-01-10,1

In [116]:
# D0 - Abnormally Dry
# Short-term dryness slowing planting, growth of crops or pastures.
# Some lingering water deficits
# Pastures or crops not fully recovered
# D1 - Moderate Drought
# Some damage to crops, pastures
# Streams, reservoirs, or wells low, some water shortages developing or imminent
# Voluntary water-use restrictions requested
# D2 - Severe Drought
# Crop or pasture loss likely
# Water shortages common
# Water restrictions imposed
# D3 - Extreme Drought
# Major crop/pasture losses
# Widespread water shortages or restrictions
# D4 - Exceptional Drought
# Exceptional and widespread crop/pasture losses
# Shortages of water in reservoirs, streams, and wells creating water emergencies

# single station in Michigan

In [117]:
# single station 

#df2 = pd.read_csv('single_station.csv')

In [118]:
#df2

In [119]:
#df2.columns.tolist()

In [120]:
# df2['DATE'] = pd.to_datetime(df2['DATE'])
# df2

In [121]:
# l = [i.round(freq='H').hour for i in data_after['DATE']]
# l_2  = [i.round(freq='H').dayofweek for i in data_after['DATE']]
# l_3 = [i.round(freq='H').day for i in data_after['DATE']]
# l_4 = [i.round(freq='H').month for i in data_after['DATE']]

In [122]:
pd.set_option('display.max_columns', None)

In [123]:
df3 = pd.read_csv('2021_2022.csv')

In [124]:
df3

,STATION,NAME,DATE,AWND,CDSD,DSND,DSNW,EMNT,EMSD,EMSN,EMXP,EMXT,HDSD,HN01,HN02,HX01,HX02,LN01,LN02,LX01,LX02,MN01,MN02,MX01,MX02,PRCP,SNOW,TAVG,TMAX,TMIN,WDF2,WDF5,WDFG,WDMV,WSF2,WSF5,WSFG
0,US1MICP0014,"SAULT STE. MARIE 2.2 E, MI US",2021,NaN,NaN,NaN,36.0,NaN,NaN,8.8,2.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.46,96.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00203429,"GREENVILLE 2 NNE, MI US",2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6817.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00200718,"BERGLAND DAM, MI US",2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8782.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00200032,"ADRIAN 2 NNE, MI US",2021,NaN,NaN,33.0,12.0,-12.0,10.0,5.5,2.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.04,33.9,NaN,NaN,39.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00201486,"CHATHAM EXPERIMENT FARM 2, MI US",2021,NaN,NaN,111.0,27.0,NaN,14.0,9.5,1.44,NaN,8318.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.80,106.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,USC00202094,"DETOUR VILLAGE, MI US",2021,NaN,270.0,95.0,20.0,-5.0,21.0,7.0,2.00,88.0,7875.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.90,62.0,44.9,52.2,37.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,US1MIKN0016,"GRAND RAPIDS 2.5 ENE, MI US",2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,US1MIKN0014,"GRANDVILLE 1.3 WSW, MI US",2021,NaN,NaN,65.0,24.0,NaN,14.0,7.4,1.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.20,66.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,USC00203188,"GLENNIE 2 SE, MI US",2021,NaN,390.0,88.0,15.0,-16.0,9.0,5.5,1.78,90.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.87,37.8,45.4,56.1,34.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,US1MIKN0011,"LOWELL 1.4 ESE, MI US",2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
df3 = df3.dropna()

In [126]:
df3

Empty DataFrame
Columns: [STATION, NAME, DATE, AWND, CDSD, DSND, DSNW, EMNT, EMSD, EMSN, EMXP, EMXT, HDSD, HN01, HN02, HX01, HX02, LN01, LN02, LX01, LX02, MN01, MN02, MX01, MX02, PRCP, SNOW, TAVG, TMAX, TMIN, WDF2, WDF5, WDFG, WDMV, WSF2, WSF5, WSFG]
Index: []

In [127]:
LocationList = ['BAD AXE, MI US', 'KALAMAZOO BATTLE CREEK INTERNATIONAL AIRPORT, MI US', 'GREENVILLE 2 NNE, MI US', 'CARO WWTP, MI US', 'HOLLAND, MI US']
df_filtered = df3[df3['NAME'].isin(LocationList)]
#'BAD AXE, MI US', KALAMAZOO BATTLE CREEK INTERNATIONAL AIRPORT, MI US', 'GREENVILLE 2 NNE, MI US', 'CARO WWTP, MI US', 'HOLLAND, MI US'

In [128]:
df_filtered

Empty DataFrame
Columns: [STATION, NAME, DATE, AWND, CDSD, DSND, DSNW, EMNT, EMSD, EMSN, EMXP, EMXT, HDSD, HN01, HN02, HX01, HX02, LN01, LN02, LX01, LX02, MN01, MN02, MX01, MX02, PRCP, SNOW, TAVG, TMAX, TMIN, WDF2, WDF5, WDFG, WDMV, WSF2, WSF5, WSFG]
Index: []

In [129]:
df3.columns.tolist()

['STATION',
 'NAME',
 'DATE',
 'AWND',
 'CDSD',
 'DSND',
 'DSNW',
 'EMNT',
 'EMSD',
 'EMSN',
 'EMXP',
 'EMXT',
 'HDSD',
 'HN01',
 'HN02',
 'HX01',
 'HX02',
 'LN01',
 'LN02',
 'LX01',
 'LX02',
 'MN01',
 'MN02',
 'MX01',
 'MX02',
 'PRCP',
 'SNOW',
 'TAVG',
 'TMAX',
 'TMIN',
 'WDF2',
 'WDF5',
 'WDFG',
 'WDMV',
 'WSF2',
 'WSF5',
 'WSFG']

In [130]:
# EMXP - Extreme maximum precipitation for the period.
# EMXT - Extreme maximum temperature for the period.
# MN01 - Monthly mean minimum soil temperature (degrees F)
# MN02 - Monthly mean minimum soil temperature (degrees F)
# MX01 - Monthly mean maximum soil temperature (degrees F)
# MX02 - Monthly mean maximum soil temperature (degrees F)
# PRCP - Precipitation
# EMNT - Extreme minimum temperature for the period.
# WDF2 - Direction of fastest 2-minute wind
# WDF5 - Direction of fastest 5-second wind
# TMAX - Maximum temperature
# EMSD - Extreme maximum snow depth for the period.
# WDMV - Total wind movement
# LN01 - Lowest minimum soil temperature for the month (degrees F)
# WSF2 - Fastest 2-minute wind speed
# EMSN - Extreme maximum snowfall for the period.
# WSF5 - Fastest 5-second wind speed
# DSND - Number days with snow depth > 1 inch(25.4mm) for the period.
# SNOW - Snowfall
# HN01 - Highest minimum soil temperature for the month (degrees F)
# WDFG - Direction of peak wind gust
# LN02 - Lowest minimum soil temperature for the month (degrees F)
# HN02 - Highest minimum soil temperature for the month (degrees F)
# HDSD - Heating Degree Days Season to Date
# LX02 - Lowest maximum soil temperature for the month (degrees F)
# CDSD - Cooling Degree Days Season to Date
# LX01 - Lowest maximum soil temperature for the month (degrees F)
# HX02 - Highest maximum soil temperature for the month (degrees F)
# AWND - Average wind speed
# HX01 - Highest maximum soil temperature for the month (degrees F)
# WSFG - Peak gust wind speed
# DSNW - Number days with snow depth > 1 inch.
# TAVG - Average Temperature.
# TMIN - Minimum temperature

In [131]:
#df3[df3["DATE"]==2021].mean(axis=0)

In [132]:
df3[df3["DATE"]==2021].mean(axis=0).to_frame().T

,STATION,NAME,DATE,AWND,CDSD,DSND,DSNW,EMNT,EMSD,EMSN,EMXP,EMXT,HDSD,HN01,HN02,HX01,HX02,LN01,LN02,LX01,LX02,MN01,MN02,MX01,MX02,PRCP,SNOW,TAVG,TMAX,TMIN,WDF2,WDF5,WDFG,WDMV,WSF2,WSF5,WSFG
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
df3[df3["DATE"]==2021].median(axis=0).to_frame().T

,STATION,NAME,DATE,AWND,CDSD,DSND,DSNW,EMNT,EMSD,EMSN,EMXP,EMXT,HDSD,HN01,HN02,HX01,HX02,LN01,LN02,LX01,LX02,MN01,MN02,MX01,MX02,PRCP,SNOW,TAVG,TMAX,TMIN,WDF2,WDF5,WDFG,WDMV,WSF2,WSF5,WSFG
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df3[df3["DATE"]==2021].median(axis=0).to_frame().T

,STATION,NAME,DATE,AWND,CDSD,DSND,DSNW,EMNT,EMSD,EMSN,EMXP,EMXT,HDSD,HN01,HN02,HX01,HX02,LN01,LN02,LX01,LX02,MN01,MN02,MX01,MX02,PRCP,SNOW,TAVG,TMAX,TMIN,WDF2,WDF5,WDFG,WDMV,WSF2,WSF5,WSFG
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Model

In [135]:
import os

os.getcwd()

'/Users/katiechenning/Documents/umich/courses/si699/Daiwei 2'

In [136]:
# for root, dirs, files in os.walk(""):
#     for file in files:
#         if file.endswith('.csv'):
#             print(file)

In [137]:
for root, dirs, files in os.walk("."):
    print(root, dirs, files)

. ['.ipynb_checkpoints'] ['weather 6.ipynb', 'YieldData.ipynb', 'weather 12.ipynb', 'cabbage.csv', 'peppers.csv', 'weather 10.ipynb', 'weather 4.ipynb', 'carrots.csv', '.DS_Store', 'cucumbers.csv', 'weather 14.ipynb', 'geo_json_data.json', 'weather 16.ipynb', 'weather 2.ipynb', '2008.csv', 'weather 11.ipynb', '2020.csv', 'weather 5.ipynb', '2009.csv', 'USDM.csv', 'weather 7.ipynb', 'weather 13.ipynb', 'weather 17.ipynb', 'weather 3.ipynb', '2019.csv', 'fig1.jpeg', 'weather 15.ipynb', '2018.csv', 'weather.ipynb', '2015.csv', 'weather 19.ipynb', '2014.csv', 'pumpkins.csv', '2016.csv', '2017.csv', '2013.csv', '2021_2022.csv', '2007.csv', 'Asparagus.csv', 'weather 22.ipynb', 'single_station.csv', '2006.csv', '2012.csv', '2010.csv', 'weather 9.ipynb', 'weather 20.ipynb', '2011.csv', 'tomatoes.csv', 'onions.csv', 'weather 18.ipynb', 'weather_final.ipynb', 'weather 8.ipynb', 'squah.csv', 'potato.csv', 'weather 21.ipynb', 'corn.csv', 'weather 23.ipynb']
./.ipynb_checkpoints [] ['weather-checkpoint 24.ipynb', 'weather-checkpoint 19.ipynb', 'weather-checkpoint 26.ipynb', 'weather-checkpoint 8.ipynb', 'weather-checkpoint 22.ipynb', 'weather-checkpoint 20.ipynb', 'weather-checkpoint 39.ipynb', 'weather-checkpoint 41.ipynb', 'weather-checkpoint 27.ipynb', 'weather-checkpoint 18.ipynb', 'weather-checkpoint 25.ipynb', 'weather-checkpoint 21.ipynb', 'weather-checkpoint 40.ipynb', 'weather-checkpoint 38.ipynb', 'YieldData-checkpoint.ipynb', 'weather-checkpoint 9.ipynb', 'weather-checkpoint.ipynb', 'weather-checkpoint 23.ipynb', 'weather-checkpoint 12.ipynb', 'weather-checkpoint 5.ipynb', 'weather-checkpoint 36.ipynb', 'weather-checkpoint 34.ipynb', 'weather-checkpoint 7.ipynb', 'weather-checkpoint 10.ipynb', 'weather-checkpoint 29.ipynb', 'weather-checkpoint 14.ipynb', 'weather-checkpoint 30.ipynb', 'weather 24-checkpoint.ipynb', 'weather-checkpoint 3.ipynb', 'weather-checkpoint 32.ipynb', 'weather-checkpoint 16.ipynb', 'weather-checkpoint 6.ipynb', 'weather-checkpoint 35.ipynb', 'weather-checkpoint 11.ipynb', 'weather-checkpoint 13.ipynb', 'weather-checkpoint 37.ipynb', 'weather-checkpoint 4.ipynb', 'weather-checkpoint 33.ipynb', 'weather-checkpoint 17.ipynb', 'weather-checkpoint 15.ipynb', 'weather-checkpoint 28.ipynb', 'weather-checkpoint 2.ipynb', 'weather-checkpoint 31.ipynb']

In [138]:

\
all_csvs = []

for root, dirs, files in os.walk("."):
    for file in files:
        if file.endswith('.csv') and (file.startswith('2') or file.startswith('1')):
            
            all_csvs.append(file)

In [139]:
all_csvs

['2008.csv',
 '2020.csv',
 '2009.csv',
 '2019.csv',
 '2018.csv',
 '2015.csv',
 '2014.csv',
 '2016.csv',
 '2017.csv',
 '2013.csv',
 '2021_2022.csv',
 '2007.csv',
 '2006.csv',
 '2012.csv',
 '2010.csv',
 '2011.csv']

In [140]:
df_all = pd.DataFrame()
for i in all_csvs:
    df_all = pd.concat([pd.read_csv(i), df_all],  join='outer' )
    df_all = df_all[df_all['NAME'].isin(LocationList)]
df_all = df_all.groupby(by='DATE').median().drop(columns=['PSUN','TSUN'], index=[2021, 2022])

In [141]:
df_all

,LATITUDE,LONGITUDE,ELEVATION,AWND,CDSD,CLDD,DP01,DP10,DSND,DSNW,DT00,DT32,DX32,DX70,DX90,EMNT,EMSD,EMSN,EMXP,EMXT,HDSD,HN01,HN02,HTDD,HX01,HX02,LN01,LN02,LX01,LX02,MN01,MN02,MX01,MX02,PRCP,SNOW,TAVG,TMAX,TMIN,WDF2,WDF5,WDFG,WDMV,WSF2,WSF5,WSFG
DATE,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2006,43.2026,-85.2421,217.9,7.6,604.0,604.0,140.0,81.0,39.0,12.0,1.0,134.5,22.0,138.5,13.0,-1.5,6.0,7.60,2.100,95.5,5853.0,NaN,NaN,5853.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.630,35.60,49.95,60.10,39.85,220.0,240.0,NaN,NaN,36.9,47.0,NaN
2007,43.3432,-84.3170,240.6,7.6,751.0,751.0,138.0,69.0,93.0,25.5,9.0,145.0,65.0,160.0,18.0,-14.0,11.0,9.15,1.400,96.0,6481.5,NaN,NaN,6481.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.550,80.45,47.90,59.60,37.40,200.0,210.0,NaN,NaN,48.1,67.1,NaN
2008,43.2026,-85.2421,217.9,7.6,449.5,449.5,143.5,93.0,106.0,30.0,7.0,154.0,65.0,136.5,3.0,-5.5,15.0,10.00,2.650,92.0,6941.0,NaN,NaN,6941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.345,85.40,45.90,56.60,36.35,230.0,330.0,NaN,NaN,42.9,78.1,NaN
2009,43.2026,-85.2421,217.9,7.4,280.5,280.5,139.5,71.5,65.0,17.0,10.5,150.5,65.0,119.5,4.0,-14.0,12.0,5.20,2.490,94.5,7391.0,NaN,NaN,7391.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.240,34.60,45.50,56.45,35.65,270.0,10.0,NaN,NaN,36.9,53.0,NaN
2010,43.2026,-85.2421,217.9,7.2,722.5,722.5,118.0,61.5,72.0,12.0,1.5,146.0,62.5,141.5,10.5,-1.0,9.0,7.00,1.500,94.5,6559.0,NaN,NaN,6559.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.160,36.30,48.30,59.15,39.10,220.0,270.0,NaN,NaN,38.9,61.1,NaN
2011,43.2026,-85.2421,217.9,7.4,626.0,626.0,143.0,78.5,75.0,NaN,8.0,139.0,52.0,130.0,15.0,-12.0,20.0,NaN,1.905,96.0,7396.0,NaN,NaN,7396.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.265,NaN,47.20,59.00,38.00,300.0,230.0,NaN,NaN,38.0,57.9,NaN
2012,43.2026,-85.2421,217.9,7.4,757.0,757.0,129.0,70.0,NaN,NaN,0.0,137.0,33.0,138.0,21.0,3.0,NaN,NaN,1.950,99.0,5796.5,NaN,NaN,5796.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.970,NaN,50.30,60.40,40.40,220.0,330.0,NaN,NaN,38.0,81.0,NaN
2013,43.2026,-85.2421,217.9,7.4,518.0,518.0,152.0,81.5,NaN,NaN,6.0,159.5,64.0,134.0,8.5,-5.5,NaN,NaN,3.085,94.5,7028.0,NaN,NaN,7028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.765,NaN,45.95,55.90,36.25,320.0,260.0,NaN,NaN,40.9,59.1,NaN
2014,NaN,NaN,NaN,8.1,466.5,466.5,152.0,70.0,NaN,NaN,21.0,150.0,79.0,125.5,1.0,-13.5,NaN,NaN,1.510,90.5,7919.0,NaN,NaN,7919.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.105,NaN,45.05,54.25,35.80,280.0,270.0,NaN,NaN,46.1,66.0,NaN
2015,NaN,NaN,NaN,7.8,487.5,487.5,136.5,70.0,NaN,NaN,26.0,142.5,57.5,137.5,2.5,-24.5,NaN,NaN,2.060,90.0,7722.5,NaN,NaN,7722.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.915,NaN,46.75,57.75,35.65,320.0,320.0,NaN,NaN,38.0,52.1,NaN
2016,NaN,NaN,NaN,7.6,708.5,708.5,137.5,71.0,64.0,19.0,6.0,141.5,45.0,145.0,10.5,-7.0,9.0,7.50,2.300,93.5,6072.0,NaN,NaN,6072.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.135,63.10,49.15,59.90,39.30,250.0,NaN,NaN,NaN,40.0,NaN,NaN
2017,NaN,NaN,NaN,7.8,539.0,539.0,144.5,75.0,39.0,12.5,4.5,131.5,45.5,145.0,11.0,-10.5,5.5,4.35,3.125,93.5,6080.5,NaN,NaN,6080.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.840,35.80,48.45,59.30,39.00,290.0,270.0,NaN,NaN,40.9,57.9,NaN
2018,NaN,NaN,NaN,7.4,700.5,700.5,152.0,81.0,62.0,18.0,7.5,168.5,50.0,137.0,17.0,-9.0,9.5,6.30,2.290,94.5,7010.0,NaN,NaN,7010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000,52.30,46.90,57.35,37.80,250.0,250.0,NaN,NaN,38.9,50.1,NaN
2019,NaN,NaN,NaN,7.8,492.0,492.0,157.5,87.5,58.0,15.0,14.0,153.0,55.5,131.5,7.0,-18.0,10.0,7.00,1.910,94.0,7452.0,NaN,NaN,7452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.620,47.10,46.20,56.65,36.70,340.0,320.0,NaN,NaN,38.9,57.9,NaN
2020,NaN,NaN,NaN,7.6,672.0,672.0,131.5,69.0,50.0,13.0,1.0,159.0,30.0,134.0,19.5,-1.5,5.0,4.50,2.105,95.0,6604.0,NaN,NaN,6604.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.050,31.90,48.40,59.20,39.05,310.0,270.0,NaN,NaN,38.9,61.1,NaN

In [142]:
pd.options.display.max_columns = None
df_all = df_all.dropna(axis='columns', how='any')
df_all

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.40,200.0,48.1
2008,7.6,449.5,449.5,143.5,93.0,7.0,154.0,65.0,136.5,3.0,-5.5,2.650,92.0,6941.0,6941.0,41.345,45.90,56.60,36.35,230.0,42.9
2009,7.4,280.5,280.5,139.5,71.5,10.5,150.5,65.0,119.5,4.0,-14.0,2.490,94.5,7391.0,7391.0,33.240,45.50,56.45,35.65,270.0,36.9
2010,7.2,722.5,722.5,118.0,61.5,1.5,146.0,62.5,141.5,10.5,-1.0,1.500,94.5,6559.0,6559.0,28.160,48.30,59.15,39.10,220.0,38.9
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.00,300.0,38.0
2012,7.4,757.0,757.0,129.0,70.0,0.0,137.0,33.0,138.0,21.0,3.0,1.950,99.0,5796.5,5796.5,28.970,50.30,60.40,40.40,220.0,38.0
2013,7.4,518.0,518.0,152.0,81.5,6.0,159.5,64.0,134.0,8.5,-5.5,3.085,94.5,7028.0,7028.0,40.765,45.95,55.90,36.25,320.0,40.9
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.80,280.0,46.1
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0
2016,7.6,708.5,708.5,137.5,71.0,6.0,141.5,45.0,145.0,10.5,-7.0,2.300,93.5,6072.0,6072.0,36.135,49.15,59.90,39.30,250.0,40.0
2017,7.8,539.0,539.0,144.5,75.0,4.5,131.5,45.5,145.0,11.0,-10.5,3.125,93.5,6080.5,6080.5,38.840,48.45,59.30,39.00,290.0,40.9
2018,7.4,700.5,700.5,152.0,81.0,7.5,168.5,50.0,137.0,17.0,-9.0,2.290,94.5,7010.0,7010.0,36.000,46.90,57.35,37.80,250.0,38.9
2019,7.8,492.0,492.0,157.5,87.5,14.0,153.0,55.5,131.5,7.0,-18.0,1.910,94.0,7452.0,7452.0,39.620,46.20,56.65,36.70,340.0,38.9
2020,7.6,672.0,672.0,131.5,69.0,1.0,159.0,30.0,134.0,19.5,-1.5,2.105,95.0,6604.0,6604.0,32.050,48.40,59.20,39.05,310.0,38.9

In [143]:
# test with data 
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier

In [144]:
# Select one row randomly using sample()
# without give any parameters
X_test_set = df_all.sample(n=3, random_state=42)
X_test_set

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0
2017,7.8,539.0,539.0,144.5,75.0,4.5,131.5,45.5,145.0,11.0,-10.5,3.125,93.5,6080.5,6080.5,38.840,48.45,59.30,39.00,290.0,40.9
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9

In [145]:
X_train_set = df_all.drop(index=X_test_set.index)

yPumpkin = pd.read_csv("pumpkins.csv", thousands=',')
yPumpkin = yPumpkin[(yPumpkin['Year'] >= df_all.index[0]) & (yPumpkin['Year'] <= df_all.index[-1])].set_index('Year')
yPumpkin = yPumpkin[['Value']]
yPumpkin_train_set = yPumpkin.drop(index=X_test_set.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
yPumpkin_test_set = yPumpkin[yPumpkin.index.isin(X_test_set.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']


X_train_set = scaler.fit_transform(X_train_set)
X_test_set = scaler.transform(X_test_set)

X_train_set

array([[ 0.25890435,  1.07662255,  1.07662255, -0.28606166, -0.72560104,
         0.24594698, -0.59278531,  0.69324293,  2.45890459,  1.03718375,
        -0.95827494, -1.43236533,  0.74612401, -0.69115457, -0.69115457,
        -1.08048449,  0.43608063,  0.94040019, -0.1681365 , -1.53434219,
         2.28787415],
       [ 0.25890435, -1.0086132 , -1.0086132 ,  0.21740686,  2.04225459,
        -0.11179408,  0.42341808,  0.69324293,  0.04703991, -1.26766902,
         0.43806854,  1.15780705, -1.24354001,  0.09107579,  0.09107579,
         1.48526964, -0.86403553, -0.69113749, -0.87430981, -0.83514828,
         0.7138571 ],
       [-0.62876771, -2.17745181, -2.17745181, -0.14875206, -0.43728275,
         0.51425278,  0.02822787,  0.69324293, -1.69771326, -1.11401217,
        -0.95827494,  0.82626499,  0.        ,  0.85713381,  0.85713381,
        -0.27780261, -1.12405877, -0.77271437, -1.34509201,  0.09711027,
        -1.10231643],
       [-1.51643978,  0.87951071,  0.87951071, -2.1168563 , -1.59055593,
        -1.09558201, -0.47987382,  0.51081058,  0.56020261, -0.11524264,
         1.17730921, -1.22515154,  0.        , -0.55922236, -0.55922236,
        -1.38284975,  0.69610386,  0.69566954,  0.97519171, -1.06821292,
        -0.49692526],
       [-0.62876771,  0.21209695,  0.21209695,  0.171637  ,  0.37000848,
         0.06707645, -1.27025423, -0.25540529, -0.62007159,  0.57621319,
        -0.62972353, -0.38593568,  0.74612401,  0.86564557,  0.86564557,
         0.81528043, -0.01896003,  0.61409265,  0.2353911 ,  0.79630418,
        -0.76935129],
       [-0.62876771,  1.11811978,  1.11811978, -1.10991925, -0.61027372,
        -1.36388781, -1.49607721, -1.64189114,  0.20098872,  1.4981543 ,
         1.83441202, -0.29268948,  2.23837202, -1.85726512, -1.85726512,
        -1.20665129,  1.99622003,  1.37547691,  1.84950152, -1.06821292,
        -0.76935129],
       [-0.62876771, -0.53485317, -0.53485317,  0.99549459,  0.71599043,
        -0.29066462,  1.04443126,  0.62026999, -0.20954143, -0.42255634,
         0.43806854,  2.05918704,  0.        ,  0.23918034,  0.23918034,
         1.35910284, -0.83153263, -1.07182962, -0.94156441,  1.26243345,
         0.10846592],
       [ 2.47808452, -0.89103772, -0.89103772,  0.99549459, -0.61027372,
         2.39239338, -0.02822787,  1.71486408, -1.08191802, -1.57498273,
        -0.87613709, -1.20443016, -1.98966401,  1.75597522,  1.75597522,
        -0.95975592, -1.4165849 , -1.96917534, -1.24421011,  0.3301749 ,
         1.68248298],
       [ 0.25890435,  0.78268384,  0.78268384, -0.33183153, -0.49494641,
        -0.29066462, -0.98797551, -0.76621587,  0.9194165 , -0.11524264,
         0.19165499,  0.43255879, -0.497416  , -1.38826737, -1.38826737,
         0.35194374,  1.24865323,  1.10355396,  1.10970091, -0.36901901,
        -0.16396011],
       [-0.62876771,  0.7273542 ,  0.7273542 ,  0.99549459,  0.65832677,
        -0.02235882,  2.06063464, -0.40135117,  0.09835618,  0.88352689,
        -0.13689642,  0.41183741,  0.        ,  0.20853802,  0.20853802,
         0.32257733, -0.21397745, -0.28325307,  0.1008819 , -0.36901901,
        -0.49692526],
       [ 1.14657642, -0.7146745 , -0.7146745 ,  1.49896311,  1.40795434,
         1.14029965,  0.31050659,  0.        , -0.46612278, -0.65304162,
        -1.61537775, -0.375575  , -0.248708  ,  0.96097723,  0.96097723,
         1.11003218, -0.66901811, -0.66394519, -0.63891871,  1.72856272,
        -0.49692526],
       [ 0.25890435,  0.53024237,  0.53024237, -0.88106992, -0.72560104,
        -1.18501728,  0.98797551, -1.86080996, -0.20954143,  1.26766902,
         1.09517136,  0.0284919 ,  0.248708  , -0.48261655, -0.48261655,
        -0.53666208,  0.76110967,  0.72286183,  0.94156441,  1.02936881,
        -0.49692526]])

In [146]:
yPumpkin

      Value
Year
2020    160
2019    150
2018    190
2017    155
2016    155
2015    155
2014    160
2013    155
2012    150
2011    145
2010    140
2009    110
2008    145
2007    115
2006    150

In [147]:
X_test_set

array([[ 1.14657642, -0.74579742, -0.74579742, -0.42337126, -0.61027372,
         3.28674604, -0.87506403,  0.14594588,  0.14967245, -1.34449745,
        -2.68316982, -0.06475431, -2.23837202,  1.42146322,  1.42146322,
        -0.34849953, -0.31148616, -0.06571471, -1.34509201,  1.26243345,
        -0.76935129],
       [ 1.14657642, -0.38961287, -0.38961287,  0.3089466 , -0.03363713,
        -0.55897042, -2.11709039, -0.7297294 ,  0.9194165 , -0.03841421,
        -0.38330997,  2.14207256, -0.497416  , -1.37379739, -1.37379739,
         0.94035958,  0.79361257,  0.77724642,  0.90793711,  0.56323954,
         0.10846592],
       [ 0.25890435,  0.05994044,  0.05994044, -0.1029822 ,  0.65832677,
        -1.18501728, -1.77835593, -2.44459348,  0.25230499,  0.26889949,
         1.09517136,  0.01813121,  0.497416  , -1.76108228, -1.76108228,
         0.67714954,  1.7686997 ,  1.21232314,  1.47960121, -1.06821292,
        -1.10231643]])

In [148]:


yPumpkin_train_set

11    115
10    145
9     110
8     140
7     145
6     150
5     155
4     160
3     155
2     190
1     150
0     160
Name: Value, dtype: int64

In [149]:
yPumpkin_test_set

2    150
1    155
0    155
Name: Value, dtype: int64

In [150]:
X_test_set

array([[ 1.14657642, -0.74579742, -0.74579742, -0.42337126, -0.61027372,
         3.28674604, -0.87506403,  0.14594588,  0.14967245, -1.34449745,
        -2.68316982, -0.06475431, -2.23837202,  1.42146322,  1.42146322,
        -0.34849953, -0.31148616, -0.06571471, -1.34509201,  1.26243345,
        -0.76935129],
       [ 1.14657642, -0.38961287, -0.38961287,  0.3089466 , -0.03363713,
        -0.55897042, -2.11709039, -0.7297294 ,  0.9194165 , -0.03841421,
        -0.38330997,  2.14207256, -0.497416  , -1.37379739, -1.37379739,
         0.94035958,  0.79361257,  0.77724642,  0.90793711,  0.56323954,
         0.10846592],
       [ 0.25890435,  0.05994044,  0.05994044, -0.1029822 ,  0.65832677,
        -1.18501728, -1.77835593, -2.44459348,  0.25230499,  0.26889949,
         1.09517136,  0.01813121,  0.497416  , -1.76108228, -1.76108228,
         0.67714954,  1.7686997 ,  1.21232314,  1.47960121, -1.06821292,
        -1.10231643]])

In [151]:
reg = LinearRegression()

reg.fit(X_train_set, yPumpkin_train_set)
reg.score(X_train_set, yPumpkin_train_set)

1.0

In [152]:
reg.score(X_test_set, yPumpkin_test_set)

-66.64782060458961

In [320]:

Pumpkin_DT = DecisionTreeRegressor(random_state=0).fit(X_train_set, yPumpkin_train_set)
reg.score(X_train_set, yPumpkin_train_set)

1.0

In [323]:
Pumpkin_DT.score(X_test_set, yPumpkin_test_set)

-102.49999999999999

In [322]:
# mean_absolute_error(y_test_set.to_list(), reg.predict(X_test_set))

In [324]:
pumpkin_y_test_pred = Pumpkin_DT.predict(X_test_set)

In [325]:
pumpkin_y_test_pred

array([110., 145., 150.])

In [158]:
yPumpkin_test_set.to_list()

[150, 155, 155]

In [326]:
from sklearn.metrics import mean_absolute_error
pumpkin_mae_reg = mean_absolute_error(yPumpkin_test_set.to_list(), reg.predict(X_test_set))
pumpkin_mae_dt = mean_absolute_error(yPumpkin_test_set.to_list(), Pumpkin_DT.predict(X_test_set))

In [160]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

folds = 6

scalar = StandardScaler()
clf = LinearRegression()

pipeline = Pipeline([('transformer', scalar), ('estimator', clf)])

cv = KFold(n_splits=(folds - 1))
scores = cross_val_score(pipeline, df_all, yPumpkin, cv = cv, scoring='r2')

In [161]:
round(scores.mean())

-9

In [162]:
scores

array([ -7.37539437,   0.        , -29.53201782,  -3.00216974,
        -4.91995871])

In [163]:
pumpkin_r2_score = r2_score(yPumpkin_test_set, pumpkin_y_test_pred)

In [164]:
pumpkin_r2_score

-102.49999999999999

In [165]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

folds = 6

scalar = StandardScaler()
clf = DecisionTreeRegressor(random_state=0)

pipeline = Pipeline([('transformer', scalar), ('estimator', clf)])

cv = KFold(n_splits=(folds - 1))
scores = cross_val_score(pipeline, df_all, yPumpkin, cv = cv, scoring='neg_mean_absolute_error')

In [166]:
round(scores.mean())

-23

In [167]:
scores

array([-28.33333333, -16.66666667, -30.        , -26.66666667,
       -15.        ])

In [168]:
Pumpkin_RF_classifier = RandomForestClassifier(random_state=0).fit(X_train_set, yPumpkin_train_set)

In [169]:
Pumpkin_RF_classifier.score(X_train_set, yPumpkin_train_set)
#test_score_RF = RF_classifier.score(X_test, y_test)

1.0

In [170]:
Pumpkin_RF_classifier.score(X_test_set, yPumpkin_test_set)

0.3333333333333333

## Onions

In [171]:
yOnion1 = pd.read_csv("onions.csv", thousands=',')

In [172]:
yOnion1

    Year  Value
0   2015    330
1   2014    370
2   2013    300
3   2012    230
4   2011    240
5   2010    220
6   2009    350
7   2008    280
8   2007    260
9   2006    250
10  2005    260
11  2004    290
12  2003    320
13  2002    230
14  2001    270
15  2000    270
16  1999    270
17  1998    260

In [173]:
df_all

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.40,200.0,48.1
2008,7.6,449.5,449.5,143.5,93.0,7.0,154.0,65.0,136.5,3.0,-5.5,2.650,92.0,6941.0,6941.0,41.345,45.90,56.60,36.35,230.0,42.9
2009,7.4,280.5,280.5,139.5,71.5,10.5,150.5,65.0,119.5,4.0,-14.0,2.490,94.5,7391.0,7391.0,33.240,45.50,56.45,35.65,270.0,36.9
2010,7.2,722.5,722.5,118.0,61.5,1.5,146.0,62.5,141.5,10.5,-1.0,1.500,94.5,6559.0,6559.0,28.160,48.30,59.15,39.10,220.0,38.9
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.00,300.0,38.0
2012,7.4,757.0,757.0,129.0,70.0,0.0,137.0,33.0,138.0,21.0,3.0,1.950,99.0,5796.5,5796.5,28.970,50.30,60.40,40.40,220.0,38.0
2013,7.4,518.0,518.0,152.0,81.5,6.0,159.5,64.0,134.0,8.5,-5.5,3.085,94.5,7028.0,7028.0,40.765,45.95,55.90,36.25,320.0,40.9
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.80,280.0,46.1
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0
2016,7.6,708.5,708.5,137.5,71.0,6.0,141.5,45.0,145.0,10.5,-7.0,2.300,93.5,6072.0,6072.0,36.135,49.15,59.90,39.30,250.0,40.0
2017,7.8,539.0,539.0,144.5,75.0,4.5,131.5,45.5,145.0,11.0,-10.5,3.125,93.5,6080.5,6080.5,38.840,48.45,59.30,39.00,290.0,40.9
2018,7.4,700.5,700.5,152.0,81.0,7.5,168.5,50.0,137.0,17.0,-9.0,2.290,94.5,7010.0,7010.0,36.000,46.90,57.35,37.80,250.0,38.9
2019,7.8,492.0,492.0,157.5,87.5,14.0,153.0,55.5,131.5,7.0,-18.0,1.910,94.0,7452.0,7452.0,39.620,46.20,56.65,36.70,340.0,38.9
2020,7.6,672.0,672.0,131.5,69.0,1.0,159.0,30.0,134.0,19.5,-1.5,2.105,95.0,6604.0,6604.0,32.050,48.40,59.20,39.05,310.0,38.9

In [174]:
df_all_onion = df_all.loc[2006:2015]

In [175]:
df_all_onion

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.40,200.0,48.1
2008,7.6,449.5,449.5,143.5,93.0,7.0,154.0,65.0,136.5,3.0,-5.5,2.650,92.0,6941.0,6941.0,41.345,45.90,56.60,36.35,230.0,42.9
2009,7.4,280.5,280.5,139.5,71.5,10.5,150.5,65.0,119.5,4.0,-14.0,2.490,94.5,7391.0,7391.0,33.240,45.50,56.45,35.65,270.0,36.9
2010,7.2,722.5,722.5,118.0,61.5,1.5,146.0,62.5,141.5,10.5,-1.0,1.500,94.5,6559.0,6559.0,28.160,48.30,59.15,39.10,220.0,38.9
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.00,300.0,38.0
2012,7.4,757.0,757.0,129.0,70.0,0.0,137.0,33.0,138.0,21.0,3.0,1.950,99.0,5796.5,5796.5,28.970,50.30,60.40,40.40,220.0,38.0
2013,7.4,518.0,518.0,152.0,81.5,6.0,159.5,64.0,134.0,8.5,-5.5,3.085,94.5,7028.0,7028.0,40.765,45.95,55.90,36.25,320.0,40.9
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.80,280.0,46.1
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0

In [176]:
X_test_set_onion = df_all_onion.sample(n=3, random_state=42)
X_test_set_onion

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.8,280.0,46.1
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.4,200.0,48.1
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.0,300.0,38.0

In [177]:
X_train_set_onion = df_all_onion.drop(index=X_test_set_onion.index)

In [178]:

yOnion = yOnion1[(yOnion1['Year'] >= df_all.index[0]) & (yOnion1['Year'] <= df_all.index[-1])].set_index('Year')
yOnion = yOnion[['Value']]
yOnion_train_set = yOnion.drop(index=X_test_set_onion.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
yOnion_test_set = yOnion[yOnion.index.isin(X_test_set_onion.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']

In [179]:
yOnion_train_set

6    250
5    280
4    350
3    220
2    230
1    300
0    330
Name: Value, dtype: int64

In [180]:
yOnion_test_set

2    260
1    240
0    370
Name: Value, dtype: int64

In [181]:
onion_scaler = StandardScaler()

In [182]:
X_train_set_onion = onion_scaler.fit_transform(X_train_set_onion)
X_test_set_onion = onion_scaler.transform(X_test_set_onion)

X_train_set_onion

array([[ 0.63245553,  0.38284319,  0.38284319,  0.3054643 ,  0.57296996,
        -0.76976516, -1.40661333, -1.87421222,  0.51255614,  0.66082793,
         0.63448132, -0.33653828,  0.4664981 , -1.33110459, -1.33110459,
         0.5901593 ,  1.31146139,  1.20350506,  1.16059325, -0.86379214,
        -0.98625381],
       [ 0.63245553, -0.62949155, -0.62949155,  0.65355152,  1.82308623,
        -0.05131768,  0.92069236,  0.74968489,  0.21356506, -0.96225821,
         0.17304036,  0.8050233 , -0.87811408,  0.27296069,  0.27296069,
         1.34302133, -0.87559334, -0.85125967, -0.65052361, -0.63123272,
         1.93083492],
       [-0.47434165, -1.73683506, -1.73683506,  0.25573755, -0.41670542,
         0.36777669,  0.50297083,  0.74968489, -2.32785914, -0.7999496 ,
        -0.80752167,  0.47293266,  0.08232319,  0.93640681,  0.93640681,
        -0.29949463, -1.09159874, -0.93932102, -1.01274698,  0.29900497,
        -0.98625381],
       [-1.58113883,  1.15929411,  1.15929411, -1.88251254, -1.45846899,
        -0.70989454, -0.03409972,  0.59713273,  0.96104276,  0.25505639,
         0.69216144, -1.58187819,  0.08232319, -0.29023135, -0.29023135,
        -1.32898026,  0.42043909,  0.6457832 ,  0.77249678, -0.86379214,
        -0.0138909 ],
       [-0.47434165,  1.38534944,  1.38534944, -0.78852412, -0.57296996,
        -0.88950641, -1.1082408 , -1.20298273,  0.43780837,  1.95929683,
         1.15360239, -0.64787326,  1.81111029, -1.41440394, -1.41440394,
        -1.16482999,  1.50046611,  1.37962775,  1.44519733, -0.86379214,
        -0.45145421],
       [-0.47434165, -0.18065706, -0.18065706,  1.49890621,  0.62505814,
        -0.17105892,  1.57711191,  0.68866403, -0.16017379, -0.06956083,
         0.17304036,  1.70789473,  0.08232319,  0.40122694,  0.40122694,
         1.22548163, -0.84859266, -1.26221262, -0.7022698 ,  1.46180209,
         0.95847201],
       [ 1.73925271, -0.38050307, -0.38050307, -0.04262293, -0.57296996,
         2.22376602, -0.45182125,  0.29202842,  0.3630606 , -1.04341252,
        -2.01880419, -0.41956095, -1.6464639 ,  1.42514545,  1.42514545,
        -0.36535739, -0.41658185, -0.17612269, -1.01274698,  1.46180209,
        -0.45145421]])

In [183]:
onion_reg = LinearRegression()

onion_reg.fit(X_train_set_onion, yOnion_train_set)
onion_reg.score(X_train_set_onion, yOnion_train_set)

1.0

In [184]:
onion_reg.score(X_test_set_onion, yOnion_test_set)

-0.24089196816479563

In [185]:
Onion_DT = DecisionTreeRegressor(random_state=0).fit(X_train_set_onion, yOnion_train_set)
Onion_DT.score(X_train_set_onion, yOnion_train_set)

1.0

In [186]:
Onion_DT.score(X_test_set_onion, yOnion_test_set)

0.41836734693877553

In [187]:
onion_y_test_pred = Onion_DT.predict(X_test_set_onion)

In [188]:
onion_r2_score = r2_score(yOnion_test_set, onion_y_test_pred)

In [189]:
onion_r2_score

0.41836734693877553

In [190]:
yOnion_test_set.to_list()

[260, 240, 370]

In [191]:
onion_mae_reg = mean_absolute_error(yOnion_test_set.to_list(), onion_reg.predict(X_test_set_onion))
onion_mae_dt = mean_absolute_error(yOnion_test_set.to_list(), Onion_DT.predict(X_test_set_onion))

In [192]:
folds = 6

onion_scalar2 = StandardScaler()
Onion_clf = LinearRegression()

onion_pipeline = Pipeline([('transformer', onion_scalar2), ('estimator', Onion_clf)])

cv = KFold(n_splits=(folds - 1))
onion_scores = cross_val_score(onion_pipeline, df_all_onion, yOnion, cv = cv, scoring='r2')

In [193]:
round(onion_scores.mean())

-25

In [194]:
folds = 6

onnion_DTscalar = StandardScaler()
OnionDTclf = DecisionTreeRegressor(random_state=0)

OnionDTpipeline = Pipeline([('transformer', onnion_DTscalar), ('estimator', OnionDTclf)])

cv = KFold(n_splits=(folds - 1))
onion_dt_scores = cross_val_score(OnionDTpipeline, df_all_onion, yOnion, cv = cv, scoring='neg_mean_absolute_error')

In [195]:
round(onion_dt_scores.mean())

-47

In [196]:
#Onion_RF_classifier = RandomForestClassifier(random_state=0).fit(X_train_set_onion, yPumpkin_train_set)

## Asparagus

In [197]:
yasparagus1 = pd.read_csv("Asparagus.csv", thousands=',')

In [198]:
yasparagus1

    Unnamed: 0  Year  Value
0         8881  2020     28
1         9024  2019     30
2         9183  2018     28
3         9337  2018     28
4         9408  2017     27
5         9561  2017     27
6         9639  2016     25
7         9860  2015     26
8        10028  2014     24
9        10207  2013     23
10       10381  2012     21
11       10558  2011     22
12       10746  2010     16
13       10872  2010     16
14       10929  2009     22
15       11103  2008     23
16       11286  2007     21
17       11473  2006     22
18       11658  2005     19
19       11831  2004     20
20       12013  2003     21
21       12193  2002     15
22       12372  2001     20
23       12529  2000     17
24       12684  1999     18
25       12816  1998     16

In [199]:
df_all_asparagus = df_all.loc[2006:2020]

In [200]:
df_all_asparagus

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.40,200.0,48.1
2008,7.6,449.5,449.5,143.5,93.0,7.0,154.0,65.0,136.5,3.0,-5.5,2.650,92.0,6941.0,6941.0,41.345,45.90,56.60,36.35,230.0,42.9
2009,7.4,280.5,280.5,139.5,71.5,10.5,150.5,65.0,119.5,4.0,-14.0,2.490,94.5,7391.0,7391.0,33.240,45.50,56.45,35.65,270.0,36.9
2010,7.2,722.5,722.5,118.0,61.5,1.5,146.0,62.5,141.5,10.5,-1.0,1.500,94.5,6559.0,6559.0,28.160,48.30,59.15,39.10,220.0,38.9
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.00,300.0,38.0
2012,7.4,757.0,757.0,129.0,70.0,0.0,137.0,33.0,138.0,21.0,3.0,1.950,99.0,5796.5,5796.5,28.970,50.30,60.40,40.40,220.0,38.0
2013,7.4,518.0,518.0,152.0,81.5,6.0,159.5,64.0,134.0,8.5,-5.5,3.085,94.5,7028.0,7028.0,40.765,45.95,55.90,36.25,320.0,40.9
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.80,280.0,46.1
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0
2016,7.6,708.5,708.5,137.5,71.0,6.0,141.5,45.0,145.0,10.5,-7.0,2.300,93.5,6072.0,6072.0,36.135,49.15,59.90,39.30,250.0,40.0
2017,7.8,539.0,539.0,144.5,75.0,4.5,131.5,45.5,145.0,11.0,-10.5,3.125,93.5,6080.5,6080.5,38.840,48.45,59.30,39.00,290.0,40.9
2018,7.4,700.5,700.5,152.0,81.0,7.5,168.5,50.0,137.0,17.0,-9.0,2.290,94.5,7010.0,7010.0,36.000,46.90,57.35,37.80,250.0,38.9
2019,7.8,492.0,492.0,157.5,87.5,14.0,153.0,55.5,131.5,7.0,-18.0,1.910,94.0,7452.0,7452.0,39.620,46.20,56.65,36.70,340.0,38.9
2020,7.6,672.0,672.0,131.5,69.0,1.0,159.0,30.0,134.0,19.5,-1.5,2.105,95.0,6604.0,6604.0,32.050,48.40,59.20,39.05,310.0,38.9

In [201]:
X_test_set_asparagus = df_all.sample(n=3, random_state=42)
X_test_set_asparagus

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0
2017,7.8,539.0,539.0,144.5,75.0,4.5,131.5,45.5,145.0,11.0,-10.5,3.125,93.5,6080.5,6080.5,38.840,48.45,59.30,39.00,290.0,40.9
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9

In [202]:
X_train_set_asparagus = df_all.drop(index=X_test_set_asparagus.index)

In [203]:
X_train_set_asparagus

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.40,200.0,48.1
2008,7.6,449.5,449.5,143.5,93.0,7.0,154.0,65.0,136.5,3.0,-5.5,2.650,92.0,6941.0,6941.0,41.345,45.90,56.60,36.35,230.0,42.9
2009,7.4,280.5,280.5,139.5,71.5,10.5,150.5,65.0,119.5,4.0,-14.0,2.490,94.5,7391.0,7391.0,33.240,45.50,56.45,35.65,270.0,36.9
2010,7.2,722.5,722.5,118.0,61.5,1.5,146.0,62.5,141.5,10.5,-1.0,1.500,94.5,6559.0,6559.0,28.160,48.30,59.15,39.10,220.0,38.9
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.00,300.0,38.0
2012,7.4,757.0,757.0,129.0,70.0,0.0,137.0,33.0,138.0,21.0,3.0,1.950,99.0,5796.5,5796.5,28.970,50.30,60.40,40.40,220.0,38.0
2013,7.4,518.0,518.0,152.0,81.5,6.0,159.5,64.0,134.0,8.5,-5.5,3.085,94.5,7028.0,7028.0,40.765,45.95,55.90,36.25,320.0,40.9
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.80,280.0,46.1
2016,7.6,708.5,708.5,137.5,71.0,6.0,141.5,45.0,145.0,10.5,-7.0,2.300,93.5,6072.0,6072.0,36.135,49.15,59.90,39.30,250.0,40.0
2018,7.4,700.5,700.5,152.0,81.0,7.5,168.5,50.0,137.0,17.0,-9.0,2.290,94.5,7010.0,7010.0,36.000,46.90,57.35,37.80,250.0,38.9
2019,7.8,492.0,492.0,157.5,87.5,14.0,153.0,55.5,131.5,7.0,-18.0,1.910,94.0,7452.0,7452.0,39.620,46.20,56.65,36.70,340.0,38.9
2020,7.6,672.0,672.0,131.5,69.0,1.0,159.0,30.0,134.0,19.5,-1.5,2.105,95.0,6604.0,6604.0,32.050,48.40,59.20,39.05,310.0,38.9

In [204]:
yAsparagus = yasparagus1[(yasparagus1['Year'] >= df_all_asparagus.index[0]) & (yasparagus1['Year'] <= df_all_asparagus.index[-1])].set_index('Year')
yAsparagus = yAsparagus[['Value']]

In [205]:
yAsparagus

      Value
Year
2020     28
2019     30
2018     28
2018     28
2017     27
2017     27
2016     25
2015     26
2014     24
2013     23
2012     21
2011     22
2010     16
2010     16
2009     22
2008     23
2007     21
2006     22

In [206]:
yAsparagus = yAsparagus[~yAsparagus.index.duplicated(keep='first')]

In [207]:
yAsparagus

      Value
Year
2020     28
2019     30
2018     28
2017     27
2016     25
2015     26
2014     24
2013     23
2012     21
2011     22
2010     16
2009     22
2008     23
2007     21
2006     22

In [208]:
yAsparagus_train_set = yAsparagus.drop(index=X_test_set_asparagus.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
yAsparagus_test_set = yAsparagus[yAsparagus.index.isin(X_test_set_asparagus.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']

In [209]:
yAsparagus_test_set

2    22
1    26
0    27
Name: Value, dtype: int64

In [210]:
yAsparagus_train_set

11    21
10    23
9     22
8     16
7     22
6     21
5     23
4     24
3     25
2     28
1     30
0     28
Name: Value, dtype: int64

In [211]:
asparagus_scaler = StandardScaler()
X_train_set_asparagus = asparagus_scaler.fit_transform(X_train_set_asparagus)
X_test_set_asparagus = asparagus_scaler.transform(X_test_set_asparagus)

X_test_set_asparagus

array([[ 1.14657642, -0.74579742, -0.74579742, -0.42337126, -0.61027372,
         3.28674604, -0.87506403,  0.14594588,  0.14967245, -1.34449745,
        -2.68316982, -0.06475431, -2.23837202,  1.42146322,  1.42146322,
        -0.34849953, -0.31148616, -0.06571471, -1.34509201,  1.26243345,
        -0.76935129],
       [ 1.14657642, -0.38961287, -0.38961287,  0.3089466 , -0.03363713,
        -0.55897042, -2.11709039, -0.7297294 ,  0.9194165 , -0.03841421,
        -0.38330997,  2.14207256, -0.497416  , -1.37379739, -1.37379739,
         0.94035958,  0.79361257,  0.77724642,  0.90793711,  0.56323954,
         0.10846592],
       [ 0.25890435,  0.05994044,  0.05994044, -0.1029822 ,  0.65832677,
        -1.18501728, -1.77835593, -2.44459348,  0.25230499,  0.26889949,
         1.09517136,  0.01813121,  0.497416  , -1.76108228, -1.76108228,
         0.67714954,  1.7686997 ,  1.21232314,  1.47960121, -1.06821292,
        -1.10231643]])

In [212]:
asparagus_reg = LinearRegression()

asparagus_reg.fit(X_train_set_asparagus, yAsparagus_train_set)
asparagus_reg.score(X_train_set_asparagus, yAsparagus_train_set)

1.0

In [213]:
asparagus_reg.score(X_test_set_asparagus, yAsparagus_test_set)

-1.9487223514578318

In [214]:
Asparagus_DT = DecisionTreeRegressor(random_state=0).fit(X_train_set_asparagus, yAsparagus_train_set)
Asparagus_DT.score(X_train_set_asparagus, yAsparagus_train_set)

1.0

In [215]:
Asparagus_DT.score(X_test_set_asparagus, yAsparagus_test_set)

-0.8571428571428572

In [216]:
asparagus_mae_dt = mean_absolute_error(yAsparagus_test_set.to_list(), Asparagus_DT.predict(X_test_set_asparagus))
asparagus_mae_reg = mean_absolute_error(yAsparagus_test_set.to_list(), asparagus_reg.predict(X_test_set_asparagus))

In [217]:
asparagus_y_test_pred = Asparagus_DT.predict(X_test_set_asparagus)

## Peppers

In [218]:
ypeppers1 = pd.read_csv("peppers.csv", thousands=',')

In [219]:
ypeppers1

    Year  Value
0   2020    230
1   2019    255
2   2018    240
3   2017    255
4   2016    260
5   2015    280
6   2014    260
7   2013    250
8   2012    260
9   2011    270
10  2010    230
11  2009    240
12  2008    250
13  2007    260
14  2006    270
15  2005    280
16  2004    290
17  2003    250
18  2002    250
19  2001    260
20  2000    220
21  1999    200
22  1998    200

In [220]:
df_all_peppers = df_all.loc[2006:2020]

In [221]:
X_test_set_peppers = df_all_peppers.sample(n=3, random_state=42)
X_test_set_peppers

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0
2017,7.8,539.0,539.0,144.5,75.0,4.5,131.5,45.5,145.0,11.0,-10.5,3.125,93.5,6080.5,6080.5,38.840,48.45,59.30,39.00,290.0,40.9
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9

In [222]:
X_train_setpeppers = df_all_peppers.drop(index=X_test_set_peppers.index)

In [223]:
yPeppers = ypeppers1[(ypeppers1['Year'] >= df_all_peppers.index[0]) & (ypeppers1['Year'] <= df_all_peppers.index[-1])].set_index('Year')
yPeppers = yPeppers[['Value']]
yPeppers_train_set = yPeppers.drop(index=X_test_set_peppers.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
yPeppers_test_set = yPeppers[yPeppers.index.isin(X_test_set_peppers.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']

In [224]:
yPeppers

      Value
Year
2020    230
2019    255
2018    240
2017    255
2016    260
2015    280
2014    260
2013    250
2012    260
2011    270
2010    230
2009    240
2008    250
2007    260
2006    270

In [225]:
yPeppers_test_set

2    270
1    280
0    255
Name: Value, dtype: int64

In [226]:
yPeppers_train_set

11    260
10    250
9     240
8     230
7     270
6     260
5     250
4     260
3     260
2     240
1     255
0     230
Name: Value, dtype: int64

In [227]:
peppers_scaler = StandardScaler()

In [228]:
X_train_setpeppers = peppers_scaler.fit_transform(X_train_setpeppers)
X_test_set_peppers = peppers_scaler.transform(X_test_set_peppers)

In [229]:
pepper_reg = LinearRegression()

pepper_reg.fit(X_train_setpeppers, yPeppers_train_set)
pepper_reg.score(X_train_setpeppers, yPeppers_train_set)

1.0

In [230]:
pepper_reg.score(X_test_set_peppers, yPeppers_test_set)

-0.002388894287008503

In [231]:
Pepper_DT = DecisionTreeRegressor(random_state=0).fit(X_train_setpeppers, yPeppers_train_set)
Pepper_DT.score(X_train_setpeppers, yPeppers_train_set)

1.0

In [232]:
Pepper_DT.score(X_test_set_peppers, yPeppers_test_set)

0.2894736842105262

In [233]:
peppers_mae_dt = mean_absolute_error(yPeppers_test_set.to_list(), Pepper_DT.predict(X_test_set_peppers))

peppers_mae_reg = mean_absolute_error(yPeppers_test_set.to_list(), pepper_reg.predict(X_test_set_peppers))

In [234]:
peppers_y_test_pred = Pepper_DT.predict(X_test_set_peppers)

## Tomatoes

In [235]:
y_tomatoes = pd.read_csv("tomatoes.csv", thousands=',')

In [236]:
y_tomatoes

    Year  Value
0   2015    300
1   2014    245
2   2013    240
3   2012    200
4   2011    220
5   2010    200
6   2009    300
7   2008    260
8   2007    230
9   2006    230
10  2005    220
11  2004    260
12  2003    220
13  2002    210
14  2001    210
15  2000    170
16  1999    190
17  1998    210

In [237]:
df_tomatoes = df_all.loc[2006:2015]

In [238]:
df_tomatoes

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.40,200.0,48.1
2008,7.6,449.5,449.5,143.5,93.0,7.0,154.0,65.0,136.5,3.0,-5.5,2.650,92.0,6941.0,6941.0,41.345,45.90,56.60,36.35,230.0,42.9
2009,7.4,280.5,280.5,139.5,71.5,10.5,150.5,65.0,119.5,4.0,-14.0,2.490,94.5,7391.0,7391.0,33.240,45.50,56.45,35.65,270.0,36.9
2010,7.2,722.5,722.5,118.0,61.5,1.5,146.0,62.5,141.5,10.5,-1.0,1.500,94.5,6559.0,6559.0,28.160,48.30,59.15,39.10,220.0,38.9
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.00,300.0,38.0
2012,7.4,757.0,757.0,129.0,70.0,0.0,137.0,33.0,138.0,21.0,3.0,1.950,99.0,5796.5,5796.5,28.970,50.30,60.40,40.40,220.0,38.0
2013,7.4,518.0,518.0,152.0,81.5,6.0,159.5,64.0,134.0,8.5,-5.5,3.085,94.5,7028.0,7028.0,40.765,45.95,55.90,36.25,320.0,40.9
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.80,280.0,46.1
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0

In [239]:
X_test_set_tomatoes = df_tomatoes.sample(n=3, random_state=42)
X_test_set_tomatoes

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.8,280.0,46.1
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.4,200.0,48.1
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.0,300.0,38.0

In [240]:
X_train_set_tomatoes = df_tomatoes.drop(index=X_test_set_tomatoes.index)

In [241]:
y_tomatoes = y_tomatoes[(y_tomatoes['Year'] >= df_tomatoes.index[0]) & (y_tomatoes['Year'] <= df_tomatoes.index[-1])].set_index('Year')
y_tomatoes = y_tomatoes[['Value']]
y_tomatoes_train_set = y_tomatoes.drop(index=X_test_set_tomatoes.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
y_tomatoes_test_set = y_tomatoes[y_tomatoes.index.isin(X_test_set_tomatoes.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']

In [242]:
tomatoes_scaler = StandardScaler()

In [243]:
X_train_set_tomatoes = tomatoes_scaler.fit_transform(X_train_set_tomatoes)
X_test_set_tomatoes = tomatoes_scaler.transform(X_test_set_tomatoes)

In [244]:
tomatoes_reg = LinearRegression()

tomatoes_reg.fit(X_train_set_tomatoes, y_tomatoes_train_set)
tomatoes_reg.score(X_train_set_tomatoes, y_tomatoes_train_set)

1.0

In [245]:
tomatoes_reg.score(X_test_set_tomatoes, y_tomatoes_test_set)

-21.650487499044743

In [246]:
Tomatoes_DT = DecisionTreeRegressor(random_state=0).fit(X_train_set_tomatoes, y_tomatoes_train_set)
Tomatoes_DT.score(X_train_set_tomatoes, y_tomatoes_train_set)

1.0

In [247]:
Tomatoes_DT.score(X_test_set_tomatoes, y_tomatoes_test_set)

-29.078947368421055

In [248]:
# to do create models for Cabbage, Carrots, Cucumbers, Squash

In [249]:
tomatoes_y_test_pred = Tomatoes_DT.predict(X_test_set_tomatoes)

In [250]:
tomatoes_mae_dt = mean_absolute_error(y_tomatoes_test_set.to_list(), Tomatoes_DT.predict(X_test_set_tomatoes))

tomatoes_mae_reg = mean_absolute_error(y_tomatoes_test_set.to_list(), tomatoes_reg.predict(X_test_set_tomatoes))

## Cabbage

In [251]:
y_cabbage = pd.read_csv("cabbage.csv", thousands=',')

In [252]:
y_cabbage.columns

Index(['Unnamed: 0', 'Year', 'Value'], dtype='object')

In [253]:
y_cabbage.drop(['Unnamed: 0'], axis=1)

    Year  Value
0   2015    290
1   2014    270
2   2013    230
3   2012    250
4   2011    230
5   2010    280
6   2009    260
7   2008    280
8   2007    320
9   2006    340
10  2005    360
11  2004    270
12  2003    320
13  2002    300
14  2001    320
15  2000    250
16  1999    280
17  1998    260

In [254]:
df_cabbage = df_all.loc[2006:2015]

In [255]:
df_cabbage

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.40,200.0,48.1
2008,7.6,449.5,449.5,143.5,93.0,7.0,154.0,65.0,136.5,3.0,-5.5,2.650,92.0,6941.0,6941.0,41.345,45.90,56.60,36.35,230.0,42.9
2009,7.4,280.5,280.5,139.5,71.5,10.5,150.5,65.0,119.5,4.0,-14.0,2.490,94.5,7391.0,7391.0,33.240,45.50,56.45,35.65,270.0,36.9
2010,7.2,722.5,722.5,118.0,61.5,1.5,146.0,62.5,141.5,10.5,-1.0,1.500,94.5,6559.0,6559.0,28.160,48.30,59.15,39.10,220.0,38.9
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.00,300.0,38.0
2012,7.4,757.0,757.0,129.0,70.0,0.0,137.0,33.0,138.0,21.0,3.0,1.950,99.0,5796.5,5796.5,28.970,50.30,60.40,40.40,220.0,38.0
2013,7.4,518.0,518.0,152.0,81.5,6.0,159.5,64.0,134.0,8.5,-5.5,3.085,94.5,7028.0,7028.0,40.765,45.95,55.90,36.25,320.0,40.9
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.80,280.0,46.1
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0

In [256]:
X_test_set_cabbage = df_cabbage.sample(n=3, random_state=42)
X_test_set_cabbage

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.8,280.0,46.1
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.4,200.0,48.1
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.0,300.0,38.0

In [257]:
X_train_set_cabbage = df_cabbage.drop(index=X_test_set_cabbage.index)

In [258]:
X_train_set_cabbage

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9
2008,7.6,449.5,449.5,143.5,93.0,7.0,154.0,65.0,136.5,3.0,-5.5,2.650,92.0,6941.0,6941.0,41.345,45.90,56.60,36.35,230.0,42.9
2009,7.4,280.5,280.5,139.5,71.5,10.5,150.5,65.0,119.5,4.0,-14.0,2.490,94.5,7391.0,7391.0,33.240,45.50,56.45,35.65,270.0,36.9
2010,7.2,722.5,722.5,118.0,61.5,1.5,146.0,62.5,141.5,10.5,-1.0,1.500,94.5,6559.0,6559.0,28.160,48.30,59.15,39.10,220.0,38.9
2012,7.4,757.0,757.0,129.0,70.0,0.0,137.0,33.0,138.0,21.0,3.0,1.950,99.0,5796.5,5796.5,28.970,50.30,60.40,40.40,220.0,38.0
2013,7.4,518.0,518.0,152.0,81.5,6.0,159.5,64.0,134.0,8.5,-5.5,3.085,94.5,7028.0,7028.0,40.765,45.95,55.90,36.25,320.0,40.9
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0

In [259]:
y_cabbage = y_cabbage[(y_cabbage['Year'] >= df_cabbage.index[0]) & (y_cabbage['Year'] <= df_cabbage.index[-1])].set_index('Year')
y_cabbage = y_cabbage[['Value']]
y_cabbage_train_set = y_cabbage.drop(index=X_test_set_cabbage.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
y_cabbage_test_set = y_cabbage[y_cabbage.index.isin(X_test_set_cabbage.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']

In [260]:
y_cabbage_test_set

2    320
1    230
0    270
Name: Value, dtype: int64

In [261]:
cabbage_scaler = StandardScaler()

In [262]:
X_train_set_cabbage = cabbage_scaler.fit_transform(X_train_set_cabbage)
X_test_set_cabbage = cabbage_scaler.transform(X_test_set_cabbage)

In [263]:
cabbage_reg = LinearRegression()

cabbage_reg.fit(X_train_set_cabbage, y_cabbage_train_set)
cabbage_reg.score(X_train_set_cabbage, y_cabbage_train_set)

1.0

In [264]:
cabbage_reg.score(X_test_set_cabbage, y_cabbage_test_set)

-2.9762807956411157

In [265]:
Cabbage_DT = DecisionTreeRegressor(random_state=0).fit(X_train_set_cabbage, y_cabbage_train_set)
Cabbage_DT.score(X_train_set_cabbage, y_cabbage_train_set)

1.0

In [266]:
Cabbage_DT.score(X_test_set_cabbage, y_cabbage_test_set)

-0.10655737704918034

In [267]:
cabbage_y_test_pred = Cabbage_DT.predict(X_test_set_cabbage)

In [268]:
cabbage_mae_dt = mean_absolute_error(y_cabbage_test_set.to_list(), Cabbage_DT.predict(X_test_set_cabbage))
cabbage_mae_reg = mean_absolute_error(y_cabbage_test_set.to_list(), cabbage_reg.predict(X_test_set_cabbage))

## Carrots

In [269]:
y_carrots = pd.read_csv("carrots.csv", thousands=',')

In [270]:
y_carrots

    Year  Value
0   2015    240
1   2014    310
2   2013    290
3   2012    280
4   2011    260
5   2010    250
6   2009    270
7   2008    290
8   2007    300
9   2006    320
10  2005    360
11  2004    310
12  2003    350
13  2002    330
14  2001    350
15  2000    280
16  1999    280
17  1998    290

In [271]:
df_carrots = df_all.loc[2006:2015]

In [272]:
X_test_set_carrots = df_carrots.sample(n=3, random_state=42)
X_test_set_carrots

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.8,280.0,46.1
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.4,200.0,48.1
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.0,300.0,38.0

In [273]:
X_train_set_carrots = df_carrots.drop(index=X_test_set_carrots.index)

In [274]:
y_carrots = y_carrots[(y_carrots['Year'] >= df_carrots.index[0]) & (y_carrots['Year'] <= df_carrots.index[-1])].set_index('Year')
y_carrots = y_carrots[['Value']]
y_carrots_train_set = y_carrots.drop(index=X_test_set_carrots.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
y_carrots_test_set = y_carrots[y_carrots.index.isin(X_test_set_carrots.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']

In [275]:
y_carrots_test_set

2    300
1    260
0    310
Name: Value, dtype: int64

In [276]:
carrots_scaler = StandardScaler()

In [277]:
X_train_set_carrots = carrots_scaler.fit_transform(X_train_set_carrots)
X_test_set_carrots = carrots_scaler.transform(X_test_set_carrots)

In [278]:
carrots_reg = LinearRegression()

carrots_reg.fit(X_train_set_carrots, y_carrots_train_set)
carrots_reg.score(X_train_set_carrots, y_carrots_train_set)

1.0

In [279]:
carrots_reg.score(X_test_set_carrots, y_carrots_test_set)

-6.156128850490323

In [280]:
Carrots_DT = DecisionTreeRegressor(random_state=0).fit(X_train_set_carrots, y_carrots_train_set)
Carrots_DT.score(X_train_set_carrots, y_carrots_train_set)

1.0

In [281]:
Carrots_DT.score(X_test_set_carrots, y_carrots_test_set)

0.2142857142857143

In [282]:
carrots_y_test_pred = Carrots_DT.predict(X_test_set_carrots)

In [283]:
carrots_mae_dt = mean_absolute_error(y_carrots_test_set.to_list(), Carrots_DT.predict(X_test_set_carrots))
carrots_mae_reg = mean_absolute_error(y_carrots_test_set.to_list(), carrots_reg.predict(X_test_set_carrots))

## Cucumbers

In [284]:
y_cucumbers = pd.read_csv("cucumbers.csv", thousands=',')

In [285]:
y_cucumbers

    Year  Value
0   2015   5.90
1   2014   6.10
2   2013   5.80
3   2012   5.40
4   2011   5.60
5   2010   6.40
6   2009   5.80
7   2008   6.20
8   2007   5.30
9   2006   5.20
10  2005   4.80
11  2004   5.00
12  2003   5.40
13  2002   4.60
14  2001   4.25
15  2000   6.00
16  1999   6.00
17  1998   5.00

In [286]:
df_cucumbers = df_all.loc[2006:2015]

In [287]:
X_test_set_cucumbers = df_cucumbers.sample(n=3, random_state=42)
X_test_set_cucumbers

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2014,8.1,466.5,466.5,152.0,70.0,21.0,150.0,79.0,125.5,1.0,-13.5,1.510,90.5,7919.0,7919.0,30.105,45.05,54.25,35.8,280.0,46.1
2007,7.6,751.0,751.0,138.0,69.0,9.0,145.0,65.0,160.0,18.0,-14.0,1.400,96.0,6481.5,6481.5,29.550,47.90,59.60,37.4,200.0,48.1
2011,7.4,626.0,626.0,143.0,78.5,8.0,139.0,52.0,130.0,15.0,-12.0,1.905,96.0,7396.0,7396.0,38.265,47.20,59.00,38.0,300.0,38.0

In [288]:
X_train_set_cucumbers = df_cucumbers.drop(index=X_test_set_cucumbers.index)

In [289]:
y_cucumbers = y_cucumbers[(y_cucumbers['Year'] >= df_cucumbers.index[0]) & (y_cucumbers['Year'] <= df_cucumbers.index[-1])].set_index('Year')
y_cucumbers = y_cucumbers[['Value']]
y_cucumbers_train_set = y_cucumbers.drop(index=X_test_set_cucumbers.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
y_cucumbers_test_set = y_cucumbers[y_cucumbers.index.isin(X_test_set_cucumbers.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']

In [290]:
cucumber_scaler = StandardScaler()

In [291]:
X_train_set_cucumbers = cucumber_scaler.fit_transform(X_train_set_cucumbers)
X_test_set_cucumbers = cucumber_scaler.transform(X_test_set_cucumbers)

In [292]:
cucumbers_reg = LinearRegression()

cucumbers_reg.fit(X_train_set_cucumbers, y_cucumbers_train_set)
cucumbers_reg.score(X_train_set_cucumbers, y_cucumbers_train_set)

1.0

In [293]:
cucumbers_reg.score(X_test_set_cucumbers, y_cucumbers_test_set)

-6.437497660530074

In [294]:
Cucumbers_DT = DecisionTreeRegressor(random_state=0).fit(X_train_set_cucumbers, y_cucumbers_train_set)
Cucumbers_DT.score(X_train_set_cucumbers, y_cucumbers_train_set)

1.0

In [295]:
Cucumbers_DT.score(X_test_set_cucumbers, y_cucumbers_test_set)

-2.336734693877557

In [296]:
cucumbers_y_test_pred = Cucumbers_DT.predict(X_test_set_cucumbers)

In [334]:
cucumbers_mae_dt = mean_absolute_error(y_cucumbers_test_set.to_list(), Cucumbers_DT.predict(X_test_set_cucumbers))
cucumbers_mae_reg = mean_absolute_error(y_cucumbers_test_set.to_list(), cucumbers_reg.predict(X_test_set_cucumbers))

## Squash

In [298]:
y_squash = pd.read_csv("squah.csv", thousands=',')

In [299]:
y_squash

    Year  Value
0   2020    220
1   2019    200
2   2018    220
3   2017    230
4   2016    240
5   2015    200
6   2014    200
7   2013    200
8   2012    240
9   2011    220
10  2010    200
11  2009    210
12  2008    200
13  2007    190
14  2006    210
15  2005    220
16  2004    160
17  2003    190
18  2002    230
19  2001    200
20  2000    115

In [300]:
df_squash = df_all.loc[2006:2020]

In [301]:
X_test_set_squash = df_squash.sample(n=3, random_state=42)
X_test_set_squash

,AWND,CDSD,CLDD,DP01,DP10,DT00,DT32,DX32,DX70,DX90,EMNT,EMXP,EMXT,HDSD,HTDD,PRCP,TAVG,TMAX,TMIN,WDF2,WSF2
DATE,,,,,,,,,,,,,,,,,,,,,
2015,7.8,487.5,487.5,136.5,70.0,26.0,142.5,57.5,137.5,2.5,-24.5,2.060,90.0,7722.5,7722.5,32.915,46.75,57.75,35.65,320.0,38.0
2017,7.8,539.0,539.0,144.5,75.0,4.5,131.5,45.5,145.0,11.0,-10.5,3.125,93.5,6080.5,6080.5,38.840,48.45,59.30,39.00,290.0,40.9
2006,7.6,604.0,604.0,140.0,81.0,1.0,134.5,22.0,138.5,13.0,-1.5,2.100,95.5,5853.0,5853.0,37.630,49.95,60.10,39.85,220.0,36.9

In [302]:
X_train_set_squash = df_squash.drop(index=X_test_set_squash.index)

In [303]:
y_squash = y_squash[(y_squash['Year'] >= df_squash.index[0]) & (y_squash['Year'] <= df_squash.index[-1])].set_index('Year')
y_squash = y_squash[['Value']]
y_squash_train_set = y_squash.drop(index=X_test_set_squash.index)['Value'].reset_index().sort_values(by=['Year'])['Value']
y_squash_test_set = y_squash[y_squash.index.isin(X_test_set_squash.index.tolist())]['Value'].reset_index().sort_values(by=['Year'])['Value']

In [304]:
squash_scaler = StandardScaler()

In [305]:
X_train_set_squash = squash_scaler.fit_transform(X_train_set_squash)
X_test_set_squash = squash_scaler.transform(X_test_set_squash)

In [306]:
squash_reg = LinearRegression()

squash_reg.fit(X_train_set_squash, y_squash_train_set)
squash_reg.score(X_train_set_squash, y_squash_train_set)

1.0

In [307]:
squash_reg.score(X_test_set_squash, y_squash_test_set)

-5.463586152485335

In [308]:
Squash_DT = DecisionTreeRegressor(random_state=0).fit(X_train_set_squash, y_squash_train_set)
Squash_DT.score(X_train_set_squash, y_squash_train_set)

1.0

In [309]:
Squash_DT.score(X_test_set_squash, y_squash_test_set)

-2.857142857142857

In [310]:
squash_y_test_pred = Squash_DT.predict(X_test_set_squash)

In [329]:
squash_mae_dt = mean_absolute_error(y_squash_test_set.to_list(), Squash_DT.predict(X_test_set_squash))
squash_mae_reg = mean_absolute_error(y_squash_test_set.to_list(), squash_reg.predict(X_test_set_squash))

In [330]:
squash_mae_dt

20.0

## Data visualization

In [640]:
# import googlemaps
# from datetime import datetime

# gmaps = googlemaps.Client(key='')

# # Geocoding an address
# geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

# # Look up an address with reverse geocoding
# reverse_geocode_result = gmaps.reverse_geocode((40.714224, -73.961452))

# # Request directions via public transit
# now = datetime.now()
# directions_result = gmaps.directions("Sydney Town Hall",
#                                      "Parramatta, NSW",
#                                      mode="transit",
#                                      departure_time=now)

In [641]:
#Kalamazoo, Huron, Monroe, Montcalm, Allegan

In [642]:
locations = df3['NAME'].unique()
locations

array([], dtype=object)

In [643]:
#df3['NAME'][0]

In [644]:
# result_list = []

# for i in df3['NAME'].unique():
#     try:
        
#         geocode_result = gmaps.geocode(i)
        
#         result_list.append(geocode_result)
        
#     except:
#         print("Error", i, "is not good address")

In [645]:
# len(result_list)

In [646]:
len(locations)

0

In [647]:
import json

# json_string = json.dumps(result_list)
# with open('geo_json_data.json', 'w') as outfile:
#     outfile.write(json_string)
    
with open('geo_json_data.json', 'r') as infile:
    result_list = json.load(infile)

In [648]:
result_list[0][0]['geometry']['location']

{'lat': 46.49771150000001, 'lng': -84.3475876}

In [649]:
loc = {"address":locations, "lat":[i[0]['geometry']['location']['lat'] for i in result_list], "lng":[i[0]['geometry']['location']['lng'] for i in result_list]}

In [312]:
#location_df = pd.DataFrame(data=loc)

In [313]:
#location_df.head()

In [314]:
# import plotly.graph_objects as go

# import pandas as pd


# location_df['text'] = location_df['address'] + '' + str(location_df['lat']) + ', ' + str(location_df['lng']) + ''

# fig = go.Figure(data=go.Scattergeo(
#         lon = location_df['lng'],
#         lat = location_df['lat'],
#         text = location_df['text'],
#         mode = 'markers',
#         ))

# fig.update_layout(
#         title = 'Locations',
#         geo_scope='usa',
#     )
# fig.show()

In [653]:
#import plotly.express as px

In [654]:
temperatures_df = df_all[['TMAX', 'TMIN', 'TAVG']]
temperatures_df = temperatures_df.reset_index()
temperatures_df

    DATE   TMAX   TMIN   TAVG
0   2006  60.10  39.85  49.95
1   2007  59.60  37.40  47.90
2   2008  56.60  36.35  45.90
3   2009  56.45  35.65  45.50
4   2010  59.15  39.10  48.30
5   2011  59.00  38.00  47.20
6   2012  60.40  40.40  50.30
7   2013  55.90  36.25  45.95
8   2014  54.25  35.80  45.05
9   2015  57.75  35.65  46.75
10  2016  59.90  39.30  49.15
11  2017  59.30  39.00  48.45
12  2018  57.35  37.80  46.90
13  2019  56.65  36.70  46.20
14  2020  59.20  39.05  48.40

In [655]:

# fig = go.Figure()
# fig.add_trace(go.Scatter(x=temperatures_df['DATE'], y=temperatures_df['TMAX'],
#                     mode='lines+markers',
#                     name='TMAX'))
# fig.add_trace(go.Scatter(x=temperatures_df['DATE'], y=temperatures_df['TMIN'],
#                     mode='lines+markers',
#                     name='TMIN'))
# fig.add_trace(go.Scatter(x=temperatures_df['DATE'], y=temperatures_df['TAVG'],
#                     mode='lines+markers', name='TAVG'))
# fig.add_trace(go.Scatter(x=y.reset_index()['Year'], y=y.reset_index()['Value'],
#                     mode='lines+markers', name='Cabbage'))
# fig.show()

In [315]:
#y.reset_index()

In [316]:

# fig = go.Figure()
# fig.add_trace(go.Scatter(x=temperatures_df['DATE'], y=temperatures_df['TMAX'],
#                     mode='lines+markers',
#                     name='TMAX'))
# fig.add_trace(go.Scatter(x=temperatures_df['DATE'], y=temperatures_df['TMIN'],
#                     mode='lines+markers',
#                     name='TMIN'))
# fig.add_trace(go.Scatter(x=temperatures_df['DATE'], y=temperatures_df['TAVG'],
#                     mode='lines+markers', name='TAVG'))

# fig.show()

In [658]:
df_all.shape

(15, 21)

In [317]:
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go

# fig = make_subplots(rows=6, cols=6, subplot_titles=(df_all.columns))


# for index, i in enumerate(df_all.columns):
#     #print(index, index//5, index%5)
#     fig.add_trace(
#         go.Scatter(x=temperatures_df['DATE'], y=df_all[i], name=i),
#         row=index//6+1, col=index%6+1
#     )
#     fig.add_trace(go.Scatter(x=y.reset_index()['Year'], y=y.reset_index()['Value'],
#                     mode='lines+markers', name='Cabbage', line=dict(color="#03f8fc")), row=index//6+1, col=index%6+1)
    
# fig.update_layout(height=1600, width=1800, title_text="Side By Side Subplots")
# fig.show()

In [ ]:
# to do create models for Cabbage, Carrots, Cucumbers, Squash

In [337]:
d_mean = {'Crop': ['Asparagus', 'Cabbage', 'Carrots', 'Cucumbers', 'Onions', 'Peppers', 'Pumpkins', 'Squash', 'Tomatoes'], 
     'DecisionTreeScore': [-0.8571428571428572, 0.016393442622950838, -0.3571428571428572, -2.336734693877557, 
                           -0.030612244897959107, -0.3421052631578949, -96.5, -2.857142857142857, -16.447368421052634]}

In [338]:
lr_mean = {'Crop': ['Asparagus', 'Cabbage', 'Carrots', 'Cucumbers', 'Onions', 'Peppers', 'Pumpkins', 'Squash', 'Tomatoes'], 
     'LinearRegressionScore': [-0.602697828623173, 0.1202842429422103, -2.9144439713147494, -8.054700351231048, 
                           -0.14897589695893965, 0.8801650755720081, -35.68599972837449, -9.440739538048685, -16.729810523321508]}

In [339]:
DT_df_mean = pd.DataFrame(data = d_mean)

selection = alt.selection_single()
DT_Scores_chart_mean = alt.Chart(DT_df_mean).mark_bar().encode(
    # encode x as the percent, and hide the axis
    x = alt.X('DecisionTreeScore:Q', title = ""),
    y=alt.Y('Crop'),
    tooltip = [alt.Tooltip('DecisionTreeScore:Q'),
               alt.Tooltip('Crop:N')
              ],
    color=alt.condition(selection, 'DecisionTreeScore:Q', alt.value('grey'))
).add_selection(selection)

In [688]:
DT_Scores_chart_mean

alt.Chart(...)

In [674]:
LR_df_mean = pd.DataFrame(data = lr_mean)


LR_Scores_chart_mean = alt.Chart(LR_df_mean).mark_bar().encode(
    # encode x as the percent, and hide the axis
    x = alt.X('LinearRegressionScore:Q', title = ""),
    y=alt.Y('Crop'),
    tooltip = [alt.Tooltip('LinearRegressionScore:Q'),
               alt.Tooltip('Crop:N')
              ],
    color=alt.condition(selection, 'LinearRegressionScore:Q', alt.value('grey'))
).add_selection(selection)

In [676]:
LR_Scores_chart_mean

alt.Chart(...)

In [677]:
d_median = {'Crop': ['Asparagus', 'Cabbage', 'Carrots', 'Cucumbers', 'Onions', 'Peppers', 'Pumpkins', 'Squash', 'Tomatoes'], 
     'DecisionTreeScore': [-0.8571428571428572, -0.10655737704918034, 0.2142857142857143, -2.336734693877557, 0.41836734693877553, 0.2894736842105262, 
                          -102.49999999999999, -2.857142857142857, -29.078947368421055 ]}

In [678]:
lr_median = {'Crop': ['Asparagus', 'Cabbage', 'Carrots', 'Cucumbers', 'Onions', 'Peppers', 'Pumpkins', 'Squash', 'Tomatoes'], 
     'LinearRegressionScore': [-1.9487223514578318, -2.9762807956411157, -6.156128850490323, -6.437497660530074, -0.24089196816479563,
                               -0.002388894287008503, -66.64782060458961, -5.463586152485335,  -21.650487499044743 ]}

In [684]:
DT_df_median = pd.DataFrame(data = d_median)

selection = alt.selection_single()
DT_Scores_chart_median = alt.Chart(DT_df_median).mark_bar().encode(
    # encode x as the percent, and hide the axis
    x = alt.X('DecisionTreeScore:Q', title = "median"),
    y=alt.Y('Crop'),
    tooltip = [alt.Tooltip('DecisionTreeScore:Q'),
               alt.Tooltip('Crop:N')
              ],
    color=alt.condition(selection, 'DecisionTreeScore:Q', alt.value('grey'))
).add_selection(selection)

In [689]:
DT_Scores_chart_median | DT_Scores_chart_mean

alt.HConcatChart(...)

In [681]:
LR_df_median = pd.DataFrame(data = lr_median)


LR_Scores_chart_median = alt.Chart(LR_df_median).mark_bar().encode(
    # encode x as the percent, and hide the axis
    x = alt.X('LinearRegressionScore:Q', title = "median"),
    y=alt.Y('Crop'),
    tooltip = [alt.Tooltip('LinearRegressionScore:Q'),
               alt.Tooltip('Crop:N')
              ],
    color=alt.condition(selection, 'LinearRegressionScore:Q', alt.value('grey'))
).add_selection(selection)

In [683]:
LR_Scores_chart_median | LR_Scores_chart_mean

alt.HConcatChart(...)

In [342]:
dt_MAE = {'Crop': ['Asparagus', 'Cabbage', 'Carrots', 'Cucumbers', 'Onions', 'Peppers', 'Pumpkins', 'Squash', 'Tomatoes'], 
     'Decision Tree MAE': [asparagus_mae_dt, cabbage_mae_dt, carrots_mae_dt, cucumbers_mae_dt, onion_mae_dt, peppers_mae_dt, 
                         pumpkin_mae_dt, squash_mae_dt, tomatoes_mae_dt]}

In [335]:
lr_MAE = {'Crop': ['Asparagus', 'Cabbage', 'Carrots', 'Cucumbers', 'Onions', 'Peppers', 'Pumpkins', 'Squash', 'Tomatoes'], 
     'Linear Regression MAE': [ asparagus_mae_reg, cabbage_mae_reg, carrots_mae_reg, cucumbers_mae_reg, onion_mae_reg, peppers_mae_reg, 
                              pumpkin_mae_reg, squash_mae_reg, tomatoes_mae_reg ]}

In [340]:
lr_MAE_df = pd.DataFrame(data = lr_MAE)


lr_mae_chart = alt.Chart(lr_MAE_df).mark_bar().encode(
    # encode x as the percent, and hide the axis
    x = alt.X('Linear Regression MAE:Q', title = "MAE"),
    y=alt.Y('Crop'),
    tooltip = [alt.Tooltip('Linear Regression MAE:Q'),
               alt.Tooltip('Crop:N')
              ],
    color=alt.condition(selection, 'Linear Regression MAE:Q', alt.value('grey'))
).add_selection(selection)

In [341]:
lr_mae_chart

alt.Chart(...)

In [343]:
dt_MAE_df = pd.DataFrame(data = dt_MAE)


dt_mae_chart = alt.Chart(dt_MAE_df).mark_bar().encode(
    # encode x as the percent, and hide the axis
    x = alt.X('Decision Tree MAE:Q', title = "MAE"),
    y=alt.Y('Crop'),
    tooltip = [alt.Tooltip('Decision Tree MAE:Q'),
               alt.Tooltip('Crop:N')
              ],
    color=alt.condition(selection, 'Decision Tree MAE:Q', alt.value('grey'))
).add_selection(selection)

In [344]:
dt_mae_chart

alt.Chart(...)

In [345]:
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [346]:
DTprobs = Cucumbers_DT.predict_proba(X_test_set_cucumbers)
LRprobs = cucumbers_reg.predict_proba(X_test_set_cucumbers)

AttributeError: 'DecisionTreeRegressor' object has no attribute 'predict_proba'