In [1]:
import pandas as pd
import numpy as np

In [8]:
sample_raw = pd.read_csv('UMich-SampleData-OrderContainerUnitsVsSales.csv')
sample_raw.head()

,DELIVERY_WEEK,DELIVERY_DATE,ORDER_ID,MARKET_NAME,COUNT_CONTAINERS,TOTAL_GROSS_REVENUE,PRODUCE_ITEMS_GROSS_SALES,NON_PRODUCE_ITEMS_GROSS_SALES,COLD_CHAIN_GROSS_SALES,TOTAL_ORDER_CONTAINER_UNITS,PACKAGING_CONTAINER_UNITS,NON_PRODUCE_CONTAINER_UNITS,PRODUCE_CONTAINER_UNITS,COLD_CHAIN_CONTAINER_UNITS,NON_PRODUCE_SKUS,PRODUCE_SKUS,COLD_CHAIN_SKUS,TOTAL_SKUS
0,1/31/22 00:00,1/31/22 00:00,044ea9a8-4909-4b48-af2f-2a4b6a240a36,Seattle,2,77.75,13.44,64.31,24.23,2153.83,119,1604.15,430.68,274.10,17,6,7,23
1,1/31/22 00:00,1/31/22 00:00,c06b4614-5cbf-4f5d-a9d6-2b53d2c2149d,Eugene,1,38.06,19.10,13.97,13.97,854.22,119,150.02,585.20,150.02,3,10,3,13
2,1/31/22 00:00,1/31/22 00:00,8ff7077e-e20c-4593-a4c5-3d8eafc3569d,Portland,1,39.57,16.62,17.96,9.98,1190.59,119,519.41,552.18,147.72,4,8,2,12
3,1/31/22 00:00,1/31/22 00:00,383f1acf-8273-4fb5-9dd7-9b728a6e05aa,Portland,1,77.85,57.38,20.47,16.47,1837.34,119,374.49,1343.85,358.29,4,12,3,16
4,1/31/22 00:00,1/31/22 00:00,7dbab306-2115-4d89-aea9-230e55b0fb05,Olympia,1,67.12,39.87,27.25,17.96,1648.16,119,546.12,893.54,703.05,7,10,6,17

In [5]:
ccdata = sample_raw[["ORDER_ID", "TOTAL_GROSS_REVENUE", "COLD_CHAIN_GROSS_SALES","TOTAL_ORDER_CONTAINER_UNITS", "COLD_CHAIN_CONTAINER_UNITS","TOTAL_SKUS","COLD_CHAIN_SKUS"]]

In [16]:
ccdata.columns

Index(['ORDER_ID', 'TOTAL_GROSS_REVENUE', 'COLD_CHAIN_GROSS_SALES',
       'TOTAL_ORDER_CONTAINER_UNITS', 'COLD_CHAIN_CONTAINER_UNITS',
       'TOTAL_SKUS', 'COLD_CHAIN_SKUS', 'cc_rev_diff'],
      dtype='object')

In [27]:
#ccdata["non_cc_rev_diff"] = ccdata.loc["TOTAL_GROSS_REVENUE"] - ccdata.loc["COLD_CHAIN_GROSS_SALES"]
#cc_rev = ccdata[["TOTAL_GROSS_REVENUE","COLD_CHAIN_GROSS_SALES","non_cc_rev_diff"]]

In [32]:
cc_rev = cc_rev.rename(columns={"cc_rev_diff": "non_cc_rev_diff"})

In [41]:
cc_rev.head()

   TOTAL_GROSS_REVENUE  COLD_CHAIN_GROSS_SALES  non_cc_rev_diff
0                77.75                   24.23            53.52
1                38.06                   13.97            24.09
2                39.57                    9.98            29.59
3                77.85                   16.47            61.38
4                67.12                   17.96            49.16

In [33]:
cctest = cc_rev.copy()

In [39]:
cctest["cc_small_local_rev"] = cctest["COLD_CHAIN_GROSS_SALES"].subtract(2.46)

In [40]:
cctest

,TOTAL_GROSS_REVENUE,COLD_CHAIN_GROSS_SALES,non_cc_rev_diff,cc_small_local_rev
0,77.75,24.23,53.52,21.77
1,38.06,13.97,24.09,11.51
2,39.57,9.98,29.59,7.52
3,77.85,16.47,61.38,14.01
4,67.12,17.96,49.16,15.50
...,...,...,...,...
106127,26.39,0.00,26.39,-2.46
106128,85.23,28.93,56.30,26.47
106129,61.00,17.47,43.53,15.01
106130,44.29,13.47,30.82,11.01
106131,60.68,27.46,33.22,25.00

In [48]:
rev_median = cctest["TOTAL_GROSS_REVENUE"].median()
cc_sales_median = cctest["COLD_CHAIN_GROSS_SALES"].median()
non_cc_sales_median = cctest["non_cc_rev_diff"].median()

In [60]:
rev_median, cc_sales_median,non_cc_sales_median

# In dollars

(60.41, 19.95, 34.96)

In [58]:
percent_cc_median = (cc_sales_median / rev_median)*100
percent_cc_median

33.02433371958285

In [59]:
percent_non_cc_median = (non_cc_sales_median / rev_median)*100
percent_non_cc_median

57.871213375269

In [43]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#sns.catplot(x="TOTAL_GROSS_REVENUE", y="COLD_CHAIN_GROSS_SALES", kind="box", data=cctest)